<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154350559568-1af0ff83kcegrmjm50rv0lk0di2eliqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154350559568-1af0ff83kcegrmjm50rv0lk0di2eliqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDLHf9TICwo0OozngxF5blXLF8a_UvTICA</string>
	<key>GCM_SENDER_ID</key>
	<string>154350559568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dakinnir.EasyFind</string>
	<key>PROJECT_ID</key>
	<string>easy-find-38e5b</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-find-38e5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154350559568:ios:bd406b48267a8ec8e58c55</string>
</dict>
</plist>